name: C++ Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake clang libboost-system-dev libssl-dev nlohmann-json3-dev
          sudo apt-get update libssl-dev

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cd build
          cmake --build . --config Release -- -j$(nproc)

      - name: Upload executable
        uses: actions/upload-artifact@v6
        with:
          name: auth_executable
          path: build/auth
